html{
  position: relative;
  min-height: 100%;
}

@font-face {
  font-family: "Windows";
  src: url(https://dl.dafont.com/dl/?f=leviwindows);
}

body {
  background-color: #007B7B;
}

table {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0px auto;
  font-family: 'Windows', 'MS Sans Serif';
  background-color: #007B7B;
}

h1 {
  text-align: center;
}

.header {
  background: url("header.png") no-repeat;
  background-size: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

.links {
    overflow: scroll;
    background-color: #333;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.links a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
}

.links a:hover {
  background-color: white;
  color: black;
}
/*
footer {
  background-color: black;
  position: relative;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  color: white;
  background-attachment: fixed;
}
*/

.console {
  background-color: black;
  color: white;
  padding: 1%;
  padding-inline-start: 10px;
  text-align: left;
}

.window {
  height: 800px;
}

.page-content {
  height: 735px;
  color: black;
  padding-inline-start: 10px;
  text-align: left;
  white-space: initial; /*makes the text wrap at the end of line*/
}

.links-thing {
  height: 600px;
  text-align: left;
  white-space: initial;
}

h5 {
  font-size: 20px;
}

.social-media-links {
  padding-left: 500px;
  color: white;
}